@{
	ViewData["Title"] = "Details";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}




<section class="content-header">

<h1>
	 Invoice
	<small>#007612</small>
	</h1>
	<ol class="breadcrumb">
		<li></li>
		<li></li>
		<li class="active">INVOICE</li>
	</ol>
</section>



